body, html {
    background-color: #ffffff;
    color: #000000;
    font: 1em sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #ffffff;
}

.subcontainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#infoContainer {
    background-color: #000000;
    color: #ffffff;
} 

.info {
    width: 100%;
    text-align: center;
}

input[type="text"] {
    border: 0px;
    outline:0px;
    border-bottom: 2px solid;
    width: 50%;
    padding: 5px;
    color: inherit;
    text-align: center;
    font: inherit;
    font-size: large;
    background-color: inherit;
}

input[type="text"]:hover {
    width: 52%;
}

input[type="checkbox"] {
    appearance: none;
    background-color: none;
    width: 25px;
    height: 25px;
    border: 2px solid #fca311;
    border-radius: 20%;
    vertical-align: middle;
    color: inherit;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #fca311;
}

button {
    background-color: #fca311;
    color: inherit;
    width: fit-content;
    font: inherit;
    font-size: large;
    padding: 10px;
    border: 0px;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 5px #6c6c6c;
}

button:hover {
    background-color: #cb7d00;
}

button:active {
    box-shadow: 0 1px #6c6c6c;
    transform: translateY(4px);
}

.checkbox {
    background-color: inherit;
    box-shadow: 0 0px;
    vertical-align: middle;
}

.checkbox:hover {
    background-color: inherit;
}

.checkbox:active {
    box-shadow: 0 0px;
    transform: translateY(0px);
}

#token {
    visibility: collapse;
    height: 0;
}

#image {
    border: 2px solid #000000;
}