body {
    background-color: #ffffff;
    color: #000000;
    align-content: center;
    align-items: center;
    font: 1em sans-serif;
    font-size: large;
}

h1 {
    text-align: center;
}

div {
    width: max-content;
    margin: auto;
    margin-top: 20px;
}

input[type="text"] {
    border: 0px;
    outline:0px;
    margin-left: 10%;
    border-bottom: 2px solid;
    width: 80%;
    color: #000000;
    text-align: center;
    font: inherit;
    font-size: large;
    background-color: inherit;
}

input[type="checkbox"] {
    appearance: none;
    background-color: none;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border: 1px solid #fca311;
    border-radius: 50%;
    vertical-align: middle;
}
input[type="checkbox"]:checked {
    background-color: #fca311;
}

button {
    background-color: #fca311;
    color: #ffffff;
    width: fit-content;
    font: inherit;
    font-size: large;
    padding: 10px;
    border: 0px;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 5px #e5e5e5;
}

button:hover {
    background-color: #cb7d00;
}

button:active {
    box-shadow: 0 1px #e5e5e5;
    transform: translateY(4px);
}

.checkbox {
    background-color: inherit;
    color: #000000;
    box-shadow: 0 0px;
}

.checkbox:hover {
    background-color: inherit;
}

.checkbox:active {
    box-shadow: 0 0px;
    transform: translateY(0px);
}